<h1>Clicked {{clickCount}}</h1>
<button (click)="clickCountFunct()">Click Me!</button>

<p>default text: {{title}}</p>
<p>Uppercase text: {{title | uppercase}}</p>
<p>lowercase text: {{title | lowercase}}</p>
<p>getting hello: {{title | slice:0:5}}</p>
<p>Price without format: {{price}}</p>
<p>Price with format: {{price | currency}}</p>
<p>Price with SL currency: {{price | currency:'LKR '}}</p>

<ul>
    <li *ngFor="let item of items | slice:0:3">
        {{item}}
    </li>
</ul>

<br />
<app-form></app-form>
<app-list></app-list>
<router-outlet></router-outlet>
<nav>
    <a routerLink="/home" routerLinkActive="active-link">Home</a> &nbsp;
    <a routerLink="/about" routerLinkActive="active-link">About</a> &nbsp;
    <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
</nav>